/*
 * 6 キーに a〜f を割り当てる。matrix-transform を書いていないので、
 * ZMK は既定で「行ごとに左から右へ」順に並べる（3 行 × 2 列 = 6）。
 *
 *   a b
 *   c d
 *   e f
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
			&kp A &kp B
			&kp C &kp D
			&kp E &kp F
			>;
		};
	};
};
