/*
 * 4 キーに a〜d を割り当てる。matrix-transform を書いていないので、
 * ZMK は既定で「行ごとに左から右へ」順に並べる（2 行 × 2 列 = 4）。
 *
 *   a b
 *   c d
 *
 * ゴースト試験では a・b・c を同時に押す。d が出たら不合格。
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
			&kp A &kp B
			&kp C &kp D
			>;
		};
	};
};
