/*
 * 右半分（34 キー）。分割の周辺側（ペリフェラル）。
 *
 * 列は 8 本ぶんシフトレジスタの出力 0..7 を使う。
 * 右半分の基板上では列 0..7 だが、キーマップ全体では列 6..13 に当たるので、
 * col-offset で 6 だけずらす。これが ZMK の分割の標準的な書き方。
 */
#include "hhkb_split.dtsi"

&default_transform {
	col-offset = <6>;
};

&kscan0 {
	col-gpios
		= <&shifter 0 GPIO_ACTIVE_HIGH>
		, <&shifter 1 GPIO_ACTIVE_HIGH>
		, <&shifter 2 GPIO_ACTIVE_HIGH>
		, <&shifter 3 GPIO_ACTIVE_HIGH>
		, <&shifter 4 GPIO_ACTIVE_HIGH>
		, <&shifter 5 GPIO_ACTIVE_HIGH>
		, <&shifter 6 GPIO_ACTIVE_HIGH>
		, <&shifter 7 GPIO_ACTIVE_HIGH>
		;
};
