/*
 * 左半分（27 キー）。分割の中央側（セントラル）。
 *
 * 列は 6 本。シフトレジスタの出力 0..5 を使い、6,7 は空けておく。
 * transform は共有のものをそのまま使う（列 0..5 が左半分に当たるため
 * col-offset は不要）。
 */
#include "hhkb_split.dtsi"

&kscan0 {
	col-gpios
		= <&shifter 0 GPIO_ACTIVE_HIGH>
		, <&shifter 1 GPIO_ACTIVE_HIGH>
		, <&shifter 2 GPIO_ACTIVE_HIGH>
		, <&shifter 3 GPIO_ACTIVE_HIGH>
		, <&shifter 4 GPIO_ACTIVE_HIGH>
		, <&shifter 5 GPIO_ACTIVE_HIGH>
		;
};
